.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

button {
    padding: 8px 18px;
    background-color: ghostwhite;
    border: 1px solid black;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
}
